body {
      
    background-color: palevioletred;
}

.h1 {
    
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}


.container { 
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;     
         height: 50vh;
         gap: 40px;   
}

.L1 {
    
    margin-right: 20px;
    font-family: cursive;
}
.name {

    margin-left: 20px;
    border-radius: 15%;
   
}

.L2 { 
     
    margin-right: 20px;
    font-family: cursive;

}

.Ln {

    border-radius: 15%;
}

.button {

background-color: antiquewhite;
font-size: 15;
border-radius: 20%;


}

#result { 

    text-align: center;
    font-weight: bold;
    font-size: 25px;
}